.user-dashboard{
    background-color: #eee;
    border: 1px solid #999;
  
   
    ul{
        padding-top: 1rem;
        list-style-type: none;
        li{            
            padding-bottom: 1rem;
            a{                
                text-decoration: none;
                color: black;
                span{
                    padding-right: 0.5rem;
                }
            }
        }
    }
}
.br{
    background-color: #eee;
    border: 1px solid #999;
}
.info-user{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:2rem;
    .pursed{
        // background-color: aliceblue;
        
        // border: 2px solid rgb(230, 230, 216);
        
        .block{           
            width: 90%;
            height: 60px;           
            background-color: rgb(238, 104, 220);
            border-radius: 5px;
            color: white;
            
        }
        .block1{           
            width: 90%;
            height: 60px;           
            background-color: rgb(82, 111, 240);
            border-radius: 5px;
            color: white;
            
        }
        .block2{           
            width: 90%;
            height: 60px;           
            background-color: rgb(141, 46, 98);
            border-radius: 5px;
            color: white;
            
        }
      
    }
   
}
.fdja{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    align-items: center;
    span{
        z-index: 1;
        i{
            color: #354adc;
        }
    }
    .w_25{
        margin: -0.4rem;
        width: 25%;
        .line{
            padding: 0.3rem;
            background-color: #354adc;
            width: 100%;
        }
    }
}
.mt{
    margin-top: 160px;
}
.mtt{
    margin-top: 135px;
}
.liste-top{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3,1fr);
    .wm{
        width: 250px;
        margin: 0.5rem;
        box-shadow: 0px 0px 5px 1px;
    }

}
.fav{
    border-bottom: 1px solid #999;;

}
.bcf{
    background-color: #f7f7f7;
    .bce{
        background-color: #ededed;
        border-radius: 5px;
    }
}