.user-dashboard{
    background-color: rgb(194, 204, 212);
    border: 1px solid wheat;
  
   
    ul{
        padding-top: 1rem;
        list-style-type: none;
        li{            
            padding-bottom: 1rem;
            a{                
                text-decoration: none;
                span{
                    padding-right: 0.5rem;
                }
            }
        }
    }
}
.info-user{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:2rem;
    .pursed{
        background-color: aliceblue;
        border: 1px solid wheat;
        .block{           
            width: 90%;
            height: 60px;           
            background-color: aqua;
            border-radius: 5px;
            border: 1px solid chocolate;
        }
      
    }
   
}