.sidebar{
    width: 250px;
    height: 100%;
    top:0%;
    left: 0%;
    position: fixed;
    background-color: rgb(14, 2, 43);
    z-index: 100;
    .sidebar-brand{
        text-align: center; 
        margin-bottom: 1rem;       
    }
    .sidebar-menu{
        ul{
            list-style-type: none;
            height: 100%;
            padding-top :30px;;
            li{
                width: 100%;
                padding: 0.5rem;               
                position:relative;
                list-style: none;
                transition: all 0.4s ease; 
               
                ul.sub-menu{
                    padding-left: 15px;                    
                    margin-top: -2rem;
                    list-style-type: circle;
                    display: none;
                    li{
                        a{
                            font-size: 13px;
                            padding: 0.5rem;
                        }
                    }
                }        
                
                .icon-link{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
          
                    a{               
                        text-decoration: none;
                        color: #fff;
                        font-size: 1rem;
                        padding-left: 1rem;
                        padding-top: 0%;
                    
                        i{
                            text-align: center;
                            height: 10px;
                            min-width: 78px;                  
                            padding-right: 0.5rem;
                           
                        }
                    }
                    i{
                        padding-right: 0.5rem;
                        color: whitesmoke;
                    }
                    a.active{
                        background-color: rgb(78, 64, 204);
                        padding-top: 0.5rem;
                        padding-bottom: 0.5rem;
                        
                        width: 100%;
                        border-radius: 30px 0px 0px 30px;
                        
                    }
                }
                a{               
                    text-decoration: none;
                    color: #fff;
                    font-size: 1rem;
                    padding-left: 1rem;
                
                    i{
                        text-align: center;
                        height: 10px;
                        min-width: 78px;                  
                        padding-right: 0.5rem;
                    }
                }
            
               
            }
            li.showMenu{                   
                .sub-menu{
                    display: block;
                }
         
        }
        }
        li:hover{
            width: 100%;
            background-color: rgb(65, 43, 161);
            border-radius: 20px 0px 0px 20px;
        }
    }
}
.entete{
    margin-left: 255px;
    header{
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        border-bottom: 1px solid #fff;
        box-shadow: 4px 2px 10px rgba(0 ,0, 0 ,0.2);
        background-color: whitesmoke;
        position: fixed;
        //z-index: 100;
        height: 90px;
        top:0%;
        width: calc(100% - 250px);
        .user-connecte{
            display: flex;
            align-items: center;
            img{
                border-radius: 50%;
                margin-right: 1rem;
            }
            small{
                display: inline-block;
                color: rgb(238, 230, 230);
                font-size: 10px;
            }
        }
    }
}
.main-content{
    margin-left: 255px; 
    .bus{
        border: 2px solid white;
        background-color: #f5f5f5;
        .bbu{
            border-bottom: 2px solid white;
        }
    }
    .brc{
        border-radius: 50%;
    }
    .bsw{
        margin-top: 0rem;
        border: 2px solid rgb(236, 230, 230);
        .prod{
            border-bottom: 2px solid whitesmoke;
            
        }
    }
    
    main{
        margin-top: 100px;
        padding-left: 2rem;
        padding-right: 2rem;
        .cards{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-gap:2rem;
            margin-top: 3rem;
            .cards-single{
               
               border-radius: 5px;
                padding: 1rem;
                .tfmp{
                    text-align: end;
                    font-size: xxx-large;
                    margin-top: -2rem;
                   
                }

            }
            .bgb{               
                background-color: rgb(97, 65, 240);             

            }
            .bgy{               
                background-color: rgb(238, 226, 64);             

            }
            .bgi{               
                background-color: rgb(65, 228, 240);             

            }
            .bgd{               
                background-color: rgb(241, 61, 48);             

            }
        }
        .d-flexe{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-gap:2rem;
            margin-top: 2rem;
            .statistique{
                display: block;
                .stati{
                    display: block;                   
                    background-color: rgb(236, 44, 44);
                    margin-bottom: 1rem;
                    padding: 1rem;
                    border-radius: 5px;
                    .tfm{
                        text-align: end;
                        font-size: xxx-large;
                    }
                }
                .carde{
                    display: grid;
                    grid-template-columns: repeat(2,1fr);                   
                    grid-gap:0.5rem;
                    .card-single{
                        display: flex;                        
                        align-items: center; 
                        justify-content: space-between;                      
                        padding: 0.5rem;
                        background-color: #ffffff;
                        border-radius: 5px;
                        border: 1px solid wheat;
                        .fs-7{
                            font-size: 0.6rem;
                        }
                    }
                }
            }
            .commande{
                display: block;
                padding-bottom: 1rem;
                .commande-type{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding:1rem;
                    margin-bottom: 1rem;
                    background-color: #fff;
                    border: 1px solid rgb(197, 190, 190);
                    border-radius: 5px;
                }
            }
            .categorie{
              
              
                .catego-sup{
                    h5{
                        padding: 1.5rem;
                    }
                    background-color: #fff;
                    border-radius: 10px;
                    border: 1px solid rgb(241, 211, 156);
                    padding-bottom: 0%;
                  
                    
                    .catego-liste{
                        display: block;
                        padding-left: 2rem;
                        .liste{
                            display: flex;
                            padding-bottom: 1rem;
                            justify-content: space-between;
                            align-items: center;
                        }
                   }  
                }
            }
        }
    }
}