{% extends 'base.html.twig' %}

{% block title %}Edit Addres{% endblock %}

{% block body %}
    <h1>Edit Addres</h1>

    {{ include('addres/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_addres_index') }}">back to list</a>

    {{ include('addres/_delete_form.html.twig') }}
{% endblock %}
