{% extends 'base.html.twig' %}

{% block title "Nouvelle addresse"%}

{% block body %}
	<div class="container rm mt">
		<div class="row">
			<div class="col-md-6 mx-auto">

				<h1 class="text-center">Creation de nouvelle adresse</h1>

				{{ include('addres/_form.html.twig') }}


			</div>

		</div>
	</div>
{% endblock %}
