{% extends "base.html.twig" %}

{% block title "Creation du produit" %}

{% block body %}
	<div class="container" style="margin-top:10rem">
		{{form_start(form)}}
		<button type="submit" class="btn btn-primary w-100">Cree</button>
		{{form_end(form)}}
	</div>


{% endblock %}
