{% extends 'dashboard.html.twig' %}

{% block title %}Edit Produit
{% endblock %}

{% block body %}
	<div class="main-content">
		<main>

			<h1 class="text-center mt-5 p-2">Edit Produit</h1>
			<div class="new-pro mt-5 p-4">
				{{ include('produit/_form.html.twig', {'button_label': 'Modifier'}) }}
			</div>


		</main>
	</div>
{% endblock %}
