{% extends 'dashboard.html.twig' %}

{% block title'Nouveau produit' %}

{% block body %}
	<div class="main-content">
		<main>

			<h3 class="text-center mt-5 p-2">Nouveau produit</h3>
			<div class="new-pro mt5 p-4">

				{{ include('produit/_form.html.twig') }}
			</div>


		</main>
	</div>


{% endblock %}
