{% extends 'base.html.twig' %}

{% block title 'edit Produit'~ produit.id %}

{% block body %}
	<div>
		<h1>Modification de produit
			{{produit.id}}</h1>

		{{ include ("admin/_form.html.twig" ,{"buttonText":'Modifier'})}}
	</div>
{% endblock %}
