{% extends 'dashboard.html.twig' %}

{% block title %}Tableau de baord
{% endblock %}

{% block body %}
	<div class="main-content">

		<main>
			<div class="cards">
				<div class="cards-single">
					<div>
						<span>Clients totaux</span>
						<h4>23</h4>
					</div>
					<div>
						<span>
							<i class="bi-person"></i>
						</span>
					</div>
				</div>
				<div class="cards-single">
					<div>
						<span>Produit totaut</span>
						<h4>45</h4>
					</div>
					<div>
						<span>
							<i class="bi-person"></i>
						</span>
					</div>
				</div>
				<div class="cards-single">
					<div>
						<span>Total de commande</span>
						<h4>65</h4>
					</div>
					<div>
						<span>
							<i class="bi-person"></i>
						</span>
					</div>
				</div>
				<div class="cards-single">
					<div>
						<span>Total des ventes</span>
						<h4>12</h4>
					</div>
					<div>
						<span>
							<i class="bi-person"></i>
						</span>
					</div>
				</div>
			</div>
			<div class="d-flex">
				<div class="statistique">
					<div class="stati">
						<p>statistiques des commandes</p>
						<span>
							<i class="bi-person"></i>
						</span>
					</div>
					<div class="card">
						<div class="card-single">
							<div>
								<h4>12</h4>
								<span>Total des ventes</span>
							</div>
							<div>
								<span>
									<i class="bi-person"></i>
								</span>
							</div>
						</div>
						<div class="card-single">
							<div>
								<h4>12</h4>
								<span>Total des ventes</span>
							</div>
							<div>
								<span>
									<i class="bi-person"></i>
								</span>
							</div>
						</div>
						<div class="card-single">
							<div>
								<h4>12</h4>
								<span>Total des ventes</span>
							</div>
							<div>
								<span>
									<i class="bi-person"></i>
								</span>
							</div>
						</div>
						<div class="card-single">
							<div>
								<h4>12</h4>
								<span>Total des ventes</span>
							</div>
							<div>
								<span>
									<i class="bi-person"></i>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="commande">
					<div class="commande-type">
						<div>
							<span>
								<i class="bi-person"></i>
							</span>
							<span>commande passee</span>
						</div>
						<h4>23</h4>
					</div>
					<div class="commande-type">
						<div>
							<span>
								<i class="bi-person"></i>
							</span>
							<span>commande passee</span>
						</div>
						<h4>23</h4>
					</div>
					<div class="commande-type">
						<div>
							<span>
								<i class="bi-person"></i>
							</span>
							<span>commande passee</span>
						</div>
						<h4>23</h4>
					</div>
					<div class="commande-type">
						<div>
							<span>
								<i class="bi-person"></i>
							</span>
							<span>commande passee</span>
						</div>
						<h4>23</h4>
					</div>
				</div>
				<div class="categorie">
					<div class="catego-sup">
						<h5>Categorie superieur</h5>
						<div class="catego-liste">
							<div class="liste">
								<div>
									<span>
										<i class="bi-person"></i>
									</span>
									<span>Phone</span>
								</div>
								<h6 class="pe-2">12320 Ar</h6>
							</div>
							<div class="liste">
								<div>
									<span>
										<i class="bi-person"></i>
									</span>
									<span>Pc</span>
								</div>
								<h6 class="pe-2">23412 Ar</h6>
							</div>
							<div class="liste">
								<div>
									<span>
										<i class="bi-person"></i>
									</span>
									<span>Composante</span>
								</div>
								<h6 class="pe-2">10002 Ar</h6>
							</div>
							<div class="liste">
								<div>
									<span>
										<i class="bi-person"></i>
									</span>
									<span>Smart watch</span>
								</div>
								<h6 class="pe-2">122334 Ar</h6>
							</div>
						</div>
					</div>
				</div>
				<div class="categorie">
					<div class="catego-sup">
						<h5>Meilleur marque</h5>
						<div class="catego-liste">
							<div class="liste">
								<div>
									<span>
										<i class="bi-person"></i>
									</span>
									<span>Phone</span>
								</div>
								<h6>12320 Ar</h6>
							</div>
							<div class="liste">
								<div>
									<span>
										<i class="bi-person"></i>
									</span>
									<span>Phone</span>
								</div>
								<h6>12320 Ar</h6>
							</div>
							<div class="liste">
								<div>
									<span>
										<i class="bi-person"></i>
									</span>
									<span>Pc</span>
								</div>
								<h6>23412 Ar</h6>
							</div>
							<div class="liste">
								<div>
									<span>
										<i class="bi-person"></i>
									</span>
									<span>Composante</span>
								</div>
								<h6>10002 Ar</h6>
							</div>
							<div class="liste">
								<div>
									<span>
										<i class="bi-person"></i>
									</span>
									<span>Smart watch</span>
								</div>
								<h6>122334 Ar</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
{% endblock %}
