<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome to tableau de board
			{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}


	</head>
	<body>
		<div class="my-flash fixed-top ">
			{% for type ,messages in app.flashes %}
				{% for message in messages %}
					<div class="alert alert-{{type}} text-center fs-5">
						{{message}}
					</div>

				{% endfor %}
			{% endfor %}
		</div>
		{% include "partial/_dashboard.html.twig" %}
		{% block body %}{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}


		{% endblock %}

	</body>
</html>
