{% extends 'base.html.twig' %}

{% block title "Checkout"%}

{% block body %}
	<div class="container" style="margin-top:11rem">
		<div class="row">

			<div class="col-md-9 mx-auto">

				<div class="address-fac p-4" style="border:1px solid white">
					<div class="processus text-center">
						<p>Processus</p>
					</div>
					<div class="row">
						<div class="col-6 p-5 text-center">
							<p>
								<span>
									<i class="bi-check-circle-fill"></i>
								</span>
							</p>
							<h4>Commande confirmer</h4>
							<p>Votre ulistration vous parviendra bientot</p>
							<a href="">voir le facture</a>
							<button class="btn btn-primary">ACCEDER A VOTRE COMMANDE</button>
						</div>
						<div class="col-6 p-3">
							<div class="d-flex justify-content-between">
								<p>
									<span>
										<i class="bi-stopwatch"></i>Livraison en 3 jours</span>
								</p>
								<p>
									<span>
										<i class="bi-arrow-repeat"></i>
									</span>2 max revisions</p>
							</div>
							<div class="articles">
								<h6>votre produits</h6>
								<ul class="ps-3" style="list-style-type:none">

									{% for panier in panier %}
										<li class="">
											<span class="">
												<i class="bi-check"></i>
											</span>
											<span class="pe-1 ps-1">{{panier.nameProduct}}</span>

										</li>

									{% endfor %}
								</ul>
							</div>
							<div class="table">
								<table class="table table-borderless text-center">
									<tr>
										<td>{{commande.quantite}}</td>
										<td>Unite</td>
									</tr>
									<tr>
										<td>Sub total</td>
										<td>{{commande.subtotal}}</td>

									</tr>
									<tr>
										<td>frais de Livraison</td>
										<td>Gratuit</td>
									</tr>
									<tr>
										<td>Total</td>
										<td>{{commande.subtotal}}</td>
									</tr>

								</table>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

{% endblock %}
