{% extends 'dashboard.html.twig' %}

{% block title %}Edit Categorie
{% endblock %}

{% block body %}
	<div class="main-content">
		<main>
			<div class="row">
				<div class="col-8 mx-auto">

					<h5 class='text-center'>Edit categorie</h5>

					{{ include('categorie/_form.html.twig', {'button_label': 'Modifier'}) }}


				</div>
			</div>
		</main>
	</div>
{% endblock %}
