<div class="sidebar">
	<div class="sidebar-brand">
		<h2>
			<span>
				<i class="bi-market"></i>
			</span>
			Webvente</h2>
	</div>
	<div class="sidebar-menu">
		<ul>
			<li>
				<a href="" class="active">
					<i class="bi-person"></i>
					<span>
						Tableau de baord
					</span>
				</a>

			</li>
			<li>
				<div class="icon-link">

					<a href="">
						<i class="bi-person"></i>
						<span>
							Produit
						</span>
					</a>
					<i class="bi-chevron-down bcd"></i>
				</div>
				<ul class="sub-menu">
					<li>
						<a href="{{path("app_produit_index")}}">Liste des produits</a>
					</li>
					<li>
						<a href="{{path("app_produit_new")}}">Nouveau produit</a>
					</li>
				</ul>
			</li>


			<li>
				<div class="icon-link">

					<a href="">
						<i class="bi-person"></i>
						<span>
							Categories
						</span>
					</a>
					<i class="bi-chevron-down bcd"></i>
				</div>
				<ul class="sub-menu">
					<li>
						<a href="">Liste des articles</a>
					</li>
					<li>
						<a href="">Nouveau article</a>
					</li>

				</ul>
			</li>

			<li>
				<div class="icon-link">

					<a href="">
						<i class="bi-person"></i>
						<span>
							Marque
						</span>
					</a>
					<i class="bi-chevron-down bcd"></i>
				</div>
				<ul class="sub-menu">
					<li>
						<a href="">Liste des articles</a>
					</li>
					<li>
						<a href="">Nouveau article</a>
					</li>

				</ul>
			</li>

			<li>
				<a href="{{path("app_commandes")}}">
					<i class="bi-person"></i>
					<span>
						Commandes
					</span>
				</a>
			</li>

			<li>
				<a href="">
					<i class="bi-person"></i>
					<span>
						Clients
					</span>
				</a>
			</li>

			<li>
				<div class="icon-link">

					<a href="">
						<i class="bi-person"></i>
						<span>
							Commercialisation
						</span>
					</a>
					<i class="bi-chevron-down bcd"></i>
				</div>
				<ul class="sub-menu">
					<li>
						<a href="">Liste des articles</a>
					</li>
					<li>
						<a href="">Nouveau article</a>
					</li>

				</ul>
			</li>

			<li>
				<div class="icon-link">

					<a href="">
						<i class="bi-person"></i>
						<span>
							Liste des Users
						</span>
					</a>
					<i class="bi-chevron-down bcd"></i>
				</div>
				<ul class="sub-menu">
					<li>
						<a href="">Liste des articles</a>
					</li>
					<li>
						<a href="">Nouveau article</a>
					</li>

				</ul>
			</li>
		</div>
	</div>
</div>
<div class="entete">
	<header>
		<h2>Welcome to tableau de board</h2>
		<div class="user-connecte"><img src="/asset/upload/product/children.jpg" width="50px" height="50px" alt="children"><div>
				<h4>Jean yves</h4>
				<small>Super admin</small>
			</div>
		</div>
	</header>
</div>
