<footer class="mt-5 ">


	<div class="daj rm">
		<h6 class="text-white">connectez-vous avec nous sur le reseaux sociaux</h6>
		<ul class="d-flex justify-content-center  ">
			<li>
				<a href="">
					<span>
						<i class="bi-facebook"></i>
					</span>
				</a>
			</li>
			<li>
				<a href="">
					<span>
						<i class="bi-twitter"></i>
					</span>
				</a>
			</li>
			<li>
				<a href="">
					<span>
						<i class="bi-google"></i>
					</span>
				</a>
			</li>
			<li>
				<a href="">
					<span>
						<i class="bi-instagram"></i>
					</span>
				</a>
			</li>
			<li>
				<a href="">
					<span>
						<i class="bi-linkedin"></i>
					</span>
				</a>
			</li>

		</ul>
	</div>
	<div class="copy rp ">
		<div class="rm text-white">
			<div class="pt-3 rm rows">
				<div class="col">
					<h5>Web<span class="text-warning">Vente</span>
					</h5>
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis consequatur a cumque, quisquam quam officiis voluptatibus facere est tempora numquam odit
					</p>
				</div>
				<div class="col">
					<h5>New slatter</h5>
					<div class="d-flex">
						<input type="email" name="emailA" id="Email" placeholder="Email" class="form-control">
						<button class="btn ms-2 btn-warning">Envoyer</button>
					</div>
				</div>
				<div class="col">
					<h5>Contact</h5>
					<ul class="ul p-0">
						<li class="m-2">
							<i class="bi-book pe-2"></i>101-Antananarivo lot 34 parcelle 23/45 à Ambohipo</li>
						<li class="m-2">
							<i class="bi-envelope pe-2"></i>sitevente@gmail.com</li>
						<li class="m-2">
							<i class="bi-telephone pe-2"></i>+2613476598 ou +261320983476</li>
						<li class="m-2">
							<i class="bi-phone pe-2"></i>Lundi au samadi 07h jusqua 09h</li>
					</ul>
				</div>
				<div class="col">
					<h5>Information</h5>
					<ul class="ul p-0">
						<li class="m-2">
							Account</li>
						<li class="m-2">Abouts us
						</li>
						<li class="m-2">Order history
						</li>
						<li class="m-2">Meilleur offre
						</li>
					</ul>
				</div>
			</div>
			<p class="text-center pb-2">
				&copy Copyright@2022 design by
				<span class="text-warning fw-bold">
					Jean yves RAMAHAJERY
				</span>
			</p>
		</div>
	</div>
	<div class="copy rm ">
		<div class="container rm text-white">
			<div class="pt-3 rm row">
				<div class="col-3">
					<h5>Web<span class="text-warning">Vente</span>
					</h5>
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis consequatur a cumque, quisquam quam officiis voluptatibus facere est tempora numquam odit
					</p>
				</div>
				<div class="col-3">
					<h5>New slatter</h5>
					<div class="d-flex">
						<input type="email" name="emailA" id="Email" placeholder="Email" class="form-control">
						<button class="btn ms-2 btn-warning">Envoyer</button>
					</div>
				</div>
				<div class="col-4">
					<h5>Contact</h5>
					<ul class="ul p-0">
						<li class="m-2">
							<i class="bi-book pe-2"></i>101-Antananarivo lot 34 parcelle 23/45 à Ambohipo</li>
						<li class="m-2">
							<i class="bi-envelope pe-2"></i>sitevente@gmail.com</li>
						<li class="m-2">
							<i class="bi-telephone pe-2"></i>+2613476598 ou +261320983476</li>
						<li class="m-2">
							<i class="bi-phone pe-2"></i>Lundi au samadi 07h jusqua 09h</li>
					</ul>
				</div>
				<div class="col-2">
					<h5>Information</h5>
					<ul class="ul p-0">
						<li class="m-2">
							Account</li>
						<li class="m-2">Abouts us
						</li>
						<li class="m-2">Order history
						</li>
						<li class="m-2">Meilleur offre
						</li>
					</ul>
				</div>
			</div>
			<p class="text-center pb-2">
				&copy Copyright@2022 design by
				<span class="text-warning fw-bold">
					Jean yves RAMAHAJERY
				</span>
			</p>
		</div>
	</div>

</footer>
