<footer class="mt-5 ">

	>
	<div>
		<ul class="d-flex justify-content-center p-4  ">

			<li>
				<a href="">
					<span>
						<i class="bi-facebook"></i>
					</span>
				</a>
			</li>
			<li>
				<a href="">
					<span>
						<i class="bi-twitter"></i>
					</span>
				</a>
			</li>
			<li>
				<a href="">
					<span>
						<i class="bi-google"></i>
					</span>
				</a>
			</li>
			<li>
				<a href="">
					<span>
						<i class="bi-instagram"></i>
					</span>
				</a>
			</li>
			<li>
				<a href="">
					<span>
						<i class="bi-linkedin"></i>
					</span>
				</a>
			</li>

		</ul>
	</div>
	<div class="copy fs-5 ">
		<h4 class="p-3 fs-6">
			<span>
				<i class="bi-bullseye"></i>
			</span>Copyright@2022 : RAMAHAJERY Jean yves</h4>
	</div>

</footer>
