<footer class="mt-5 bg-primary">

	<div class="container">
		<div class="d-flex justify-content-between p-5 ">
			<div>
				<ul style="list-style-type:none">
					<li class="fs-2">Find us</li>
					<li class="pt-3 pb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore, aspernatur! Fugit cumque facilis vel necessitatibus, reprehenderit labore in
					</li>
					<li class="pt-1 pb-1">Lot 63A parcelle 21/61
					</li>
					<li class="pt-1 pb-1">+345678921</li>
					<li class="pt-1 pb-1">theoblack@gmail.com</li>
				</ul>
			</div>
			<div class="">
				<ul style="list-style-type:none">
					<li class="fs-2">Blog</li>
					<li class="pt-3 pb-1">Lorem ipsum dolor sit amet consectetur
					</li>
					<li class="pt-1 pb-1">Lot 63A parcelle 21/61 Ambalakiso</li>
					<li>Lorem ipsum dolor sit amet consectetur
					</li>
					<li class="pt-1 pb-1">+345678921</li>
					<li class="pt-1 pb-1">theoblack@gmail.com</li>
				</ul>
			</div>
			<div>
				<ul style="list-style-type:none">
					<li class="fs-2">Category</li>
					<li>Lorem ipsum dolor sit amet consectetur
					</li>
					<li>Lot 63A parcelle 21/61 Ambalakiso</li>
					<li>+345678921</li>
					<li>theoblack@gmail.com</li>
				</ul>
			</div>
			<div class="d-felx" style="flex-direction:column">
				<ul style="list-style-type:none">
					<li class="fs-2">Follow us</li>
					<li>Lorem ipsum dolor sit amet consectetur</li>
					<li>Lot 63A parcelle 21/61 Ambalakiso</li>
					<li>+345678921</li>
					<li>theoblack@gmail.com</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
