{% extends 'dashboard.html.twig' %}

{% block title %}Edit User
{% endblock %}

{% block body %}
	<div class="main-content">
		<main>
			<h4 class="text-center">Mofifier roles</h4>
			<div class="row">
				<div class="col-7 mx-auto">
					<h6>Cocher le roles :</h6>

					{{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}
				</div>
			</div>
		</main>
	</div>


{% endblock %}
