{% extends 'dashboard.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}
	<div class="main-content">

		<h1 class="fs-4 ms-5" style="margin-top:150px">Listes des utilisateurs</h1>

		<table class="table table-striped m-5 pe-5">
			<thead>
				<tr>
					<th>Id</th>
					<th>Email</th>
					<th>Roles</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>

				<tr>
					<td>
						<p>1</p>
					</td>
					<td>
						<h3 class="fs-4 ">Theoblack@gmail.com</h3>
					</td>
					<td>
						<h3 class="fs-4 ">Administrateur</h3>
					</td>
					<td>
						<button class="btn btn-dark">Modifier</button>
					</td>
				</tr>

			</tbody>
		</table>
	</div>


{% endblock %}
