{% extends 'base.html.twig' %}
{% block title 'Se connecter' %}

{% block body %}
	<div>
		<h1>Se connecter
		</h1>
		<form action="">
			<input type="email">
			<input type="password">
			<input type="submit" value="Se connecter" class="btn btn-primary">
		</form>


	</div>
{% endblock %}
